* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.title {
  font-size: 50px;
  font-family: cursive, sans-serif;
  background: linear-gradient(
    105deg,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  margin: 10px 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.Search {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

form.weatherForm {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
}

input.cityInput {
  padding: 10px;
  border-radius: 10px 10px 0 0;
  border: 2px solid #ff5722;
}

ul.suggestionList {
  display: flex;
  flex-direction: column;
  background-color: #ff5722;
  width: 100%;
  border-radius: 0 0 10px 10px;
  list-style: none;
  color: #fff;
  align-items: center;
}

ul.suggestionList > li {
  padding: 10px 0;
  border-bottom: 1px solid #000;
  width: 100%;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #ff5722;
  color: #fff;
  margin: 10px 0 0 10px;
}

h1 {
  font-size: 5rem;
  font-family: serif;
  font-weight: lighter;
}

.weatherData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weatherImg {
  align-self: flex-start;
}

.weatherImg > img {
  width: 200px;
  height: 100%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

span {
  margin: 10px;
}

.x {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weatherData > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

img {
  width: 50px;
}

.sky {
  font-size: 3em;
  text-align: center;
  font-family: cursive;
}
